.eye {
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  box-shadow: 30px 0px 0px 0px rgba(255, 255, 255, 0.8);
  position: relative;
  margin: 36px 26px;
}

.eye:after {
  background-color: #000;
  width: 10px;
  height: 10px;
  box-shadow: 30px 0px 0px 0px #000;
  border-radius: 50%;
  left: 9px;
  top: 8px;
  position: absolute;
  content: "";
  -webkit-animation: eyeball 1s linear infinite alternate;
  -moz-animation: eyeball 1s linear infinite alternate;
  animation: eyeball 1s linear infinite alternate;
}

@-webkit-keyframes eyeball {
  0% {
    left: 9px;
  }

  100% {
    left: 1px;
  }
}

@-moz-keyframes eyeball {
  0% {
    left: 9px;
  }

  100% {
    left: 1px;
  }
}

@keyframes eyeball {
  0% {
    left: 9px;
  }

  100% {
    left: 1px;
  }
}
